<header>
  <h1>Angular Material Components</h1>
</header>
<ul>
  <li>
    <button mat-flat-button>Do Some Action!</button>
  </li>
  <li>
    <mat-checkbox>Check me, brah!</mat-checkbox>
  </li>
  <li>
    <mat-radio-group>
      <mat-radio-button value="Alligator">Alligator</mat-radio-button>
      <mat-radio-button value="Boa Constrictor"
        >Boa Constrictor</mat-radio-button
      >
      <mat-radio-button value="Crocodile">Crocodile</mat-radio-button>
    </mat-radio-group>
  </li>
  <li><mat-slide-toggle>Toggle me, bro!</mat-slide-toggle></li>
  <!-- -->
  <li>
    <form class="zeroth-form">
      <mat-form-field class="zeroth-full-width">
        <mat-label for="reptile">Favorite Reptile</mat-label>
        <input
          matInput
          placeholder="Ex. Anole"
          value="Chameleon"
          id="reptile"
        />
      </mat-form-field>
    </form>
  </li>
  <li>
    <mat-form-field appearance="fill">
      <mat-label for="tf0">Textarea</mat-label>
      <textarea id="tf0" matInput></textarea>
    </mat-form-field>
  </li>
  <li>
    <form class="wunth=form">
      <mat-form-field class="wunth-full-width">
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </li>

  <li>Accordion Expander</li>

  <li>Pagination</li>

  <li>Modal Dialog</li>

  <li>Progress Bar / Loading Bar</li>

  <li>Tabs</li>

  <li>Tooltip</li>

  <li>Spinner (also see Progress Bar)</li>
  <li>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </li>
  <!-- -->
</ul>
