h1 {
  margin: 2rem;
  text-align: center;
}
header {
  width: 40rem;
  margin: 0 auto 2rem;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 1rem;
  margin: 1rem;
  width: 40rem;
  margin: 0 auto;
  position: relative;
}
mat-radio-button {
  margin: 1rem;
}
li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.radio-datepicker {
  display: flex;
  flex-direction: column;
}
h2 {
  color: #505050;
  font-size: 1.25rem;
}
li:nth-child(odd) h2 {
  color: #000;
}
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
  h1 {
    color: red;
  }
  .mat-button-ripple.mat-ripple {
    display: none;
  }
}
