<header>
  <h1>Angular Material Components</h1>
</header>
<ul>
  <li>
    <button mat-flat-button>Do Some Action!</button>
  </li>
  <li>
    <mat-checkbox>Check me, brah!</mat-checkbox>
  </li>
  <li>
    <mat-radio-group>
      <mat-radio-button value="Alligator">Alligator</mat-radio-button>
      <mat-radio-button value="Boa Constrictor"
        >Boa Constrictor</mat-radio-button
      >
      <mat-radio-button value="Crocodile">Crocodile</mat-radio-button>
    </mat-radio-group>
  </li>
  <li><mat-slide-toggle>Toggle me, bro!</mat-slide-toggle></li>
  <!-- -->
  <li>Text Fields</li>

  <li>
    Listbox with Inline Autocomplete (Autocomplete – MatAutocompeleModule)
  </li>

  <li>Accordion Expander</li>

  <li>Pagination</li>

  <li>Modal Dialog</li>

  <li>Progress Bar / Loading Bar</li>

  <li>Tabs</li>

  <li>Tooltip</li>

  <li>Spinner (also see Progress Bar)</li>
  <!-- -->
</ul>
