h1 {
  margin: 1rem;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 1rem;
  margin: 1rem;
  width: 40rem;
  margin: 0 auto;
}
mat-radio-button {
  margin: 1rem;
}
li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.radio-datepicker {
  display: flex;
  flex-direction: column;
}
h2 {
  color: #505050;
  font-size: 1.25rem;
}
li:nth-child(odd) h2 {
  color: #000;
}
